In [8]:
import pandas as pd

# Function to process station data from a given year
# Original datasets are tab-deliminated datasets 
def process_yearlydata(year):
    temp = pd.read_csv(f"../data/stationdata/merged{year}.csv")

    # Generate the list of columns to be used. Assign the temporary dataframe a placeholder column name
    colnames = temp.columns[0].split('\t')
    temp.columns = ['_']

    # Split dataframe into multiple columns and save that to a new temporary dataframe
    temp_expanded = temp['_'].str.split("\t", expand = True)

    # Drop any unnecessary columns created by the splitting
    if temp_expanded.shape[1]>13:
        temp_expanded.drop(list(range(13, temp_expanded.shape[1])), axis = 1, inplace = True)
    
    # Assign the correct column names to the dataframe and write it to disk
    temp_expanded.columns = colnames[0:13]
    temp_expanded.to_csv(f"../data/stationdata/stations{year}.csv", index = False)

In [9]:
process_yearlydata(2015)
process_yearlydata(2016)
process_yearlydata(2017)
process_yearlydata(2018)
process_yearlydata(2019)

In [14]:
# Read in the processed datafiles
stations2015 = pd.read_csv("data/stationdata/stations2015.csv")
stations2016 = pd.read_csv("data/stationdata/stations2016.csv")
stations2017 = pd.read_csv("data/stationdata/stations2017.csv")
stations2018 = pd.read_csv("data/stationdata/stations2018.csv")
stations2019 = pd.read_csv("data/stationdata/stations2019.csv")

# Concatenate them into a single dataframe
stations = pd.concat([stations2015, stations2016, stations2017, stations2018, stations2019])


# Write the concatenated dataframe to csv
stations.to_csv("data/stationdata/stations.csv", index = False)

/Users/danielchoy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
stations.tail(5)

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
1671950,3534,"""Frederick Douglass Blvd & W 117 St""","""19-01-31""",9,28,1,18,21,39,40.8052,-73.9547,1,1
1671951,3534,"""Frederick Douglass Blvd & W 117 St""","""19-01-31""",10,7,1,18,21,39,40.8052,-73.9547,1,1
1671952,3534,"""Frederick Douglass Blvd & W 117 St""","""19-01-31""",10,44,1,18,21,39,40.8052,-73.9547,1,1
1671953,3534,"""Frederick Douglass Blvd & W 117 St""","""19-01-31""",11,32,1,19,20,39,40.8052,-73.9547,1,1
1671954,3534,"""Frederick Douglass Blvd & W 117 St""","""19-01-31""",12,15,1,13,26,39,40.8052,-73.9547,1,1

In [17]:
# Distinct customers
stations['dock_id'].nunique()

1469