In [1]:
# Import libraries
import pandas as pd
import numpy as np
import re

In [2]:
# Read the merged stations.csv file. Note stationdata_process.ipynb for more information
stations = pd.read_csv('../data/stationdata/stations.csv')

/Users/danielchoy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
stations_cleaning = stations.copy()

In [5]:
stations_cleaning.head(10)

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
0,72,"""W 52 St & 11 Ave""","""15-03-01""",1,6,0,8,31,39,40.7673,-73.9939,1,1
1,72,"""W 52 St & 11 Ave""","""15-03-01""",1,16,0,8,31,39,40.7673,-73.9939,1,1
2,72,"""W 52 St & 11 Ave""","""15-03-01""",1,25,0,8,30,38,40.7673,-73.9939,1,1
3,72,"""W 52 St & 11 Ave""","""15-03-01""",1,35,0,8,30,38,40.7673,-73.9939,1,1
4,72,"""W 52 St & 11 Ave""","""15-03-01""",1,45,0,8,30,38,40.7673,-73.9939,1,1
5,72,"""W 52 St & 11 Ave""","""15-03-01""",1,54,0,7,31,38,40.7673,-73.9939,1,1
6,72,"""W 52 St & 11 Ave""","""15-03-01""",2,2,0,8,31,39,40.7673,-73.9939,1,1
7,72,"""W 52 St & 11 Ave""","""15-03-01""",2,13,0,8,31,39,40.7673,-73.9939,1,1
8,72,"""W 52 St & 11 Ave""","""15-03-01""",2,22,0,8,31,39,40.7673,-73.9939,1,1
9,72,"""W 52 St & 11 Ave""","""15-03-01""",2,32,0,8,31,39,40.7673,-73.9939,1,1

In [6]:
stations_cleaning.isnull().sum()

dock_id        0
dock_name      0
date           0
hour           0
minute         0
pm             0
avail_bikes    3
avail_docks    0
tot_docks      1
_lat           2
_long          2
in_service     0
status_key     2
dtype: int64

#### Remove missing values

In [7]:
stations_cleaning.dropna(inplace = True)
stations_cleaning.drop(stations_cleaning[stations_cleaning['dock_id'].apply(lambda x: isinstance(x, str))].index, inplace = True)
stations_cleaning = stations_cleaning[stations_cleaning['tot_docks'] < 500]

#### Creating available bikes and docks

In [10]:
mask = ~stations_cleaning['avail_bikes'].astype(str).str.contains('[A-z]')
stations_cleaning = stations_cleaning[mask]

In [11]:
# Remove quotation marks so strings can be converted to integers
stations_cleaning['avail_bikes'] = stations_cleaning['avail_bikes'].apply(
    lambda x: re.sub("\"", "", str(x)))

In [ ]:
# Drop empty values
stations_cleaning = stations_cleaning[stations_cleaning['avail_bikes'] != ""]

# Convert strings to integers
stations_cleaning['avail_bikes'] = stations_cleaning['avail_bikes'].astype(float).astype(int)

# Remove any row with an impossible number of bikes
stations_cleaning = stations_cleaning[stations_cleaning['avail_bikes'] <= 100]