In [1]:
import numpy as np
import pandas as pd
import dask
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
import swifter
import pickle
import re

In [15]:
riders = pd.read_csv('../data/output.csv',\
                     parse_dates = ['starttime', 'stoptime'],\
                     dtype = {'start station id': 'Int32', 'end station id': 'Int32'})

/Users/danielchoy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
riders.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331,Riverside Dr & W 104 St,40.801343,-73.971146,3328,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101,N 12 St & Bedford Ave,40.720798,-73.954847,3100,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140,1 Ave & E 78 St,40.771404,-73.953517,3141,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236,St Marks Pl & 2 Ave,40.728419,-73.987140,473,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427,Lafayette St & Jersey St,40.724305,-73.996010,3431,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987,1

In [18]:
def cleaning_ridersdata(df):
    df.starttime.astype('M8[us]')
    df.stoptime.astype('M8[us]')
    
    # Drop missing values
    df = df.dropna(subset=['start station id', 'end station id']).reset_index()
    
    # create year column
    df['year'] = df.starttime.dt.year
    print('completed year column')
    
    # create date column
    df['start_date'] = df.starttime.dt.date
    df['stop_date'] = df.stoptime.dt.date
    print('completed date column')
    
    # create hour column
    df['start_hour'] = df.starttime.dt.hour
    df['stop_hour'] = df.stoptime.dt.hour
    print('completed hour column')
    
    # create minutes column
    df['start_min'] = df.starttime.dt.minute
    df['stop_min'] = df.starttime.dt.minute
    print('completed minutes column')
    
    # For easier computation and analysis, we decided to round the minutes by 20 minutes time frame
    df['start_min'] = df['start_min'].apply(lambda x: '00' if x < 20 else '20' if x < 40 else '40')
    df['stop_min'] = df['stop_min'].apply(lambda x: '00' if x < 20 else '20' if x < 40 else '40')
    
    
    # create season column
    df['season'] = df.starttime.dt.month.apply(lambda x: 'winter' if x <= 2 else 'spring' if x <= 5 else \
    'summer' if x <= 8 else 'fall' if x <= 11 else 'winter')
    print('completed season column')
    
    # create day of week column
    df['dayofweek'] = df['starttime'].dt.weekday.apply(lambda x: 'Monday' if x == 0 else 'Tuesday' if x==1 else \
    'Wednesday'if x == 2 else 'Thursday' if x == 3 else 'Friday' if x == 4 else 'Saturday' if x == 5 else 'Sunday')
    print('completed week column')
    
    # create interval column
    df['start_interval'] = df.apply(lambda x: str(x['start_hour']) + ":" + str(x['start_min']), axis=1)
    df['stop_interval'] = df.apply(lambda x: str(x['stop_hour']) + ":" + str(x['stop_min']), axis=1)

In [27]:
riders.to_csv("../Data/riders_cleaned.csv")

In [19]:
cleaning_ridersdata(riders)

In [3]:
riders = pd.read_csv('../data/riders_cleaned.csv.gz')

/Users/danielchoy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
riders.dtypes

Unnamed: 0                   int64
index                        int64
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
year                         int64
start_date                  object
stop_date                   object
start_hour                   int64
stop_hour                    int64
start_min                    int64
stop_min                     int64
season                      object
dayofweek                   object
start_interval              object
stop_interval               object
dtype: object

In [14]:
# A function that creates a dataframe that aggregates a bike demands in a hour interval
def create_outgoing_rides(df):
    outgoing_rides = df.groupby(['start station id','start_date','season','dayofweek','start_hour'])\
    [['starttime']].count().reset_index().rename(columns={'starttime':'outgoing_bike_count'})
        
    print('completed first job')
        
    return outgoing_rides

In [15]:
create_outgoing_rides(riders)

completed first job

,start station id,start_date,season,dayofweek,start_hour,outgoing_bike_count
0,72,2013-06-01,summer,Saturday,0,1
1,72,2013-06-01,summer,Saturday,7,1
2,72,2013-06-01,summer,Saturday,8,2
3,72,2013-06-01,summer,Saturday,10,1
4,72,2013-06-01,summer,Saturday,11,1
...,...,...,...,...,...,...
22289226,4249,2020-11-30,fall,Monday,17,1
22289227,4249,2020-11-30,fall,Monday,18,1
22289228,4249,2020-11-30,fall,Monday,19,2
22289229,4249,2020-11-30,fall,Monday,20,2
22289230,4249,2020-11-30,fall,Monday,21,1

In [ ]:
# A function that creates a dataframe that aggregates a dock demands in a hour interval
def create_incoming_rides(df):
    incoming_rides = df.groupby(['end station id','stoptime_date','season','dayofweek','stop_hour'])\
    [['stoptime']].count().reset_index().rename(columns={'stoptime':'incoming_bike_count'}).compute(scheduler="processes")
        
    print('completed first job')
        
    incoming_rides['dock_demand'] = incoming_rides.swifter.apply(lambda x: 'High' if x['incoming_bike_count'] > incoming_rides.incoming_bike_count.describe()['75%'] else \
    'Medium' if x['incoming_bike_count'] > incoming_rides.incoming_bike_count.describe()['25%'] else 'Low', axis = 1)
        
    print('completed second job')
    
    return incoming_rides

In [ ]:
create_incoming_rides(riders)